In [2]:
import pandas as pd

In [3]:
info_vuelos = pd.read_csv('../csv/info_vuelos.csv')
#info_vuelos = info_vuelos.drop(columns=['vuelo', 'terminal_salida', 'puerta_salida', 'terminal_llegada', 'puerta_llegada'])
info_vuelos.head(10)

,aerolinea,origen,destino,hora_salida,hora_llegada,duracion,precio,asientos_disponibles
0,American,Allentown,Charlotte,2019-03-07T06:03,2019-03-07T08:58,175,577,0
1,American,Allentown,Charlotte,2019-03-07T11:26,2019-03-07T13:31,125,577,2
2,American,Allentown,Charlotte,2019-03-07T18:43,2019-03-07T20:55,132,577,1
3,American,Allentown,Charlotte,2019-03-08T06:07,2019-03-08T08:31,144,577,2
4,American,Allentown,Charlotte,2019-03-08T11:37,2019-03-08T13:44,127,577,1
5,American,Allentown,Charlotte,2019-03-08T18:50,2019-03-08T21:00,130,577,3
6,American,Allentown,Charlotte,2019-03-09T06:12,2019-03-09T08:24,132,577,0
7,American,Allentown,Charlotte,2019-03-09T11:37,2019-03-09T13:44,127,577,3
8,American,Allentown,Charlotte,2019-03-09T18:50,2019-03-09T21:00,130,577,1
9,American,Allentown,Charlotte,2019-03-10T06:12,2019-03-10T08:24,132,577,3

In [7]:
"Cantidad de vuelos diferentes: {}".format(len(info_vuelos.groupby(by=['origen', 'destino'])))

'Cantidad de vuelos diferentes: 3655'

In [8]:
for index, group in info_vuelos.groupby(by=['origen', 'destino']):
    display(group.head(1))
    break

,aerolinea,origen,destino,hora_salida,hora_llegada,duracion,precio,asientos_disponibles
103786,British Airways,Aalborg,Aarhus,2019-03-11T17:37,2019-03-11T19:15,98,559,2

In [14]:
info_vuelos.groupby(by=['origen', 'destino']).head(1).reset_index(drop=True)

,aerolinea,origen,destino,hora_salida,hora_llegada,duracion,precio,asientos_disponibles
0,American,Allentown,Charlotte,2019-03-07T06:03,2019-03-07T08:58,175,577,0
1,American,Augusta,Charlotte,2019-03-07T05:32,2019-03-07T06:25,53,976,2
2,American,Auckland,Brisbane,2019-03-08T06:57,2019-03-08T07:42,45,829,0
3,American,Albany,Charlotte,2019-03-07T07:33,2019-03-07T09:36,123,596,3
4,American,Arequipa,Lima,2019-03-07T18:24,2019-03-07T19:54,90,914,0
5,American,Atlanta,Charlotte,2019-03-07T05:25,2019-03-07T06:42,77,1439,4
6,American,Atlanta,Miami,2019-03-07T06:46,2019-03-07T08:30,104,374,0
7,American,Austin,Charlotte,2019-03-07T05:04,2019-03-07T08:39,215,399,2
8,American,Asheville,Charlotte,2019-03-07T05:25,2019-03-07T06:07,42,567,4
9,American,Wilkes-Barre,Charlotte,2019-03-07T06:40,2019-03-07T08:45,125,521,2
10,American,Barcelona,Miami,2019-03-07T09:52,2019-03-07T14:19,267,1306,4
11,American,Hartford,Charlotte,2019-03-07T06:26,2019-03-07T08:46,140,672,2
12,American,Hartford,Miami,2019-03-07T06:09,2019-03-07T09:45,216,1133,4
13,American,Bridgetown,Miami,2019-03-07T07:39,2019-03-07T10:45,186,788,0
14,American,Birmingham,Charlotte,2019-03-07T06:02,2019-03-07T08:49,167,1347,4
15,American,Birmingham,Miami,2019-03-07T06:21,2019-03-07T09:39,198,151,2
16,American,Nashville,Charlotte,2019-03-07T05:36,2019-03-07T07:54,138,470,2
17,American,Nashville,Miami,2019-03-07T06:16,2019-03-07T09:35,199,1154,2
18,American,Brisbane,Auckland,2019-03-08T17:18,2019-03-08T23:37,379,829,0
19,American,Brisbane,Cairns,2019-03-09T10:10,2019-03-09T12:30,140,1146,4
20,American,Brisbane,Darwin,2019-03-08T08:40,2019-03-08T12:08,208,549,3
21,American,Brisbane,Melbourne,2019-03-08T08:10,2019-03-08T11:25,195,683,2
22,American,Brisbane,Perth,2019-03-08T08:30,2019-03-08T11:48,198,784,3
23,American,Brisbane,Townsville,2019-03-09T17:15,2019-03-09T19:10,115,954,2
24,American,Boston,Charlotte,2019-03-07T04:55,2019-03-07T07:10,135,493,4
25,American,Boston,Madrid,2019-03-07T17:31,2019-03-08T05:52,741,1004,3
26,American,Boston,Harrisburg,2019-03-07T22:18,2019-03-08T00:01,103,1124,4
27,American,Boston,Miami,2019-03-07T05:33,2019-03-07T09:10,217,1128,1
28,American,Boston,Rochester,2019-03-07T07:34,2019-03-07T09:01,87,388,2
29,American,Boston,Syracuse,2019-03-07T19:48,2019-03-07T21:05,77,371,1
...,...,...,...,...,...,...,...,...
3625,Spirit,Fort Myers,Atlantic City,2019-03-17T21:50,2019-03-17T23:20,90,139,1
3626,Wizz Air W6 2525,Riga,Eindhoven,2019-03-21T12:15,2019-03-21T14:20,125,426,0
3627,Iberia,Cardiff,Alicante,2019-03-16T17:00,2019-03-16T17:55,55,725,2
3628,Shenzhen ZH 4884,Yuncheng,Tianjin,2019-03-21T10:40,2019-03-21T12:05,85,1175,4
3629,Lufthansa,Newark,Shannon,2019-03-16T13:31,2019-03-17T15:15,1544,1061,4
3630,Shenzhen ZH 9274,Shenyang,Linyi,2019-03-21T19:05,2019-03-21T20:09,64,509,4
3631,Hainan,Hohhot,Harbin,2019-03-15T13:35,2019-03-15T21:44,489,827,0
3632,United,Albany,Newark,2019-03-19T10:20,2019-03-19T14:55,275,1049,4
3633,United,Denver,Alamosa,2019-03-19T09:07,2019-03-19T10:39,92,1032,2
3634,LATAM,Punta Arenas,Puerto Montt,2019-03-16T08:00,2019-03-16T10:39,159,1206,4
3635,Avianca Brazil,Salvador,Aracaju,2019-03-17T13:10,2019-03-18T17:25,1695,990,3
3636,Southwest WN 244,Columbus,Fort Lauderdale,2019-03-21T02:50,2019-03-21T16:55,845,100,1
3637,Volotea V7 2124,Nantes,Montpellier,2019-03-22T07:00,2019-03-22T08:20,80,1201,2
3638,Azores Airlines,Ponta Delgada,Horta,2019-03-18T06:59,2019-03-18T11:51,292,1173,1
3639,Southwest WN 2583,Spokane,Oakland,2019-03-20T21:05,2019-03-20T22:40,95,805,1
3640,Lao Airlines,Pakse,Luang Prabang,2019-03-18T14:46,2019-03-18T16:44,118,292,4
3641,Air New Zealand,Tauranga,Wellington,2019-03-17T18:35,2019-03-17T20:25,110,886,4
3642,Hainan,Xiamen,Xi'an,2019-03-15T13:00,2019-03-15T15:25,145,362,1
3643,Air Europa UX 4064,Valencia,Madrid,2019-03-20T09:11,2019-03-20T10:45,94,734,1
3644,Pakistan,Sukkur,Lahore,2019-03-19T09:00,2019-03-19T10:35,95,1148,1
3645,Southwest WN 2187,Albuquerque,Oakland,2019-03-20T12:55,2019-03-20T14:30,95,265,4
3646,LIAT,Dominica,Bridgetown,2019-03-16T12:30,2019-03-16T13:40,70,664,0
3647,Wideroe WF 562,Kristiansund,Molde,2019-03-20T21:20,2019-03-20T22:15,55,344,1
3648,Iberia,Sevilla,Valencia,2019-03-15T07:00,2019-03-15T07:55,55,1122,4
3649,Air Arabia,Sharjah,Dammam,2019-03-14T07:12,2019-03-14T09:43,151,610,3
3650,PrecisionAir,Kilimanjaro,Mwanza,2019-03-17T18:30,2019-03-17T19:59,89,1130,1
3651,Volaris Y4 830,Tijuana,Zacatecas,2019-03-20T05:02,2019-03-20T06:40,98,1191,3
3652,Wizz Air W6 1099,Katowice,Colonia,2019-03-23T17:54,2019-03-23T19:28,94,882,3
3653,Wizz Air W6 1221,Katowice,Stavanger,2019-03-23T12:15,2019-03-23T15:05,170,958,0
3654,LATAM,Lima,Punta Cana,2019-03-15T14:33,2019-03-15T17:29,176,1278,1